/* === Imports === */
@import "tailwindcss";

/* === Fonts === */
.real-text-pro-semilight {
  font-family: ff-real-headline-pro-2, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.real-text-pro-semilight-italic {
  font-family: ff-real-headline-pro-2, sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* === CSS Variables === */
:root {
  --background: #f0f0f0;
  --foreground: #1c1b1b;
  --grey: #afafaf;
  --quote-opacity: 1;
  --quote-blur: 0px;
  --intro-opacity: 0;
}

.intro-fade {
  opacity: var(--intro-opacity);
  transition: opacity 0.3s ease;
}

/* === Base Styles === */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: ff-real-headline-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--foreground);
  @apply not-italic text-sm leading-5 lg:text-lg lg:leading-6;
}

.black {
  background-color: var(--foreground);
}

.grey {
  background-color: var(--grey);
}

.white {
  background-color: var(--background);
}

/* === Utility Classes === */
@layer utilities {
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  .padding-21 {
    @apply px-[21px] lg:px-[7vw];
  }

  .mt-75 {
    margin-top: 75px;
  }

  /* Text Styles */
  .quote-gallery-text {
    font-family: ff-real-headline-pro, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 22px;
    line-height: 28px;
    text-align: right;
  }

  .body-text {
    font-family: ff-real-headline-pro, sans-serif;
    font-weight: 300;
    color: var(--foreground);
    @apply not-italic text-sm leading-5 lg:text-lg lg:leading-6;
  }

  label {
    font-family: ff-real-headline-pro, sans-serif;
    @apply font-light text-[10px] leading-5 lg:text-xs;
  }
}
.link{
  @apply underline text-[#AFAFAF] hover:text-[#1c1b1b] cursor-pointer transition -mt-[10vh] lg:mt-0 lg:text-xl
}

/* === Components === */
.countdown {
  font-family: ff-real-headline-pro, sans-serif;
  font-weight: 400;
  color: var(--foreground);
  @apply text-sm lg:text-lg text-center;
}

.cover {
  @apply object-cover w-full h-[450px] lg:h-[338px] lg:w-[270px] hover:scale-110 transition-all duration-400 ease-in-out;
}

.cover-grid {
  @apply relative top-10/12 lg:top-9/12 w-full min-h-[30vh] lg:min-h-[40vh] ;
  z-index: 100;
  background: linear-gradient(to top, #f0f0f0 90%, transparent 100%);
}

.quote-fx {
  opacity: var(--quote-opacity);
  transition: opacity 0.3s ease-out;
}


.quote {
  @apply flex flex-col gap-2 justify-center lg:items-center pr-5 z-30 fixed top-1/2 pb-16 lg:pb-[120px] transform -translate-y-1/2 w-full;
  background: var(--background);
}

.navigation {
  @apply flex flex-row justify-between font-semibold inset-x-0 bottom-0 px-5 h-16 lg:h-[120px] lg:px-[7vw] items-center fixed;
  background: var(--background);
  z-index: 110;
}

.detail-image {
  height: 436px;
  @apply w-full object-cover;
  background-color: var(--grey);
}

/* === Form Elements === */
input,
select,
#bild {
  @apply border-[#1C1B1B] border-2 transition-all rounded-none px-5;
}

input:hover,
select:hover,
#bild:hover {
  @apply border-4 font-semibold;
  transition: border-width 0.3s ease, border-color 0.3s ease, font-weight 0.3s ease;
}

.input-container {
  @apply flex flex-col gap-2 items-center;
}

::placeholder {
  @apply text-[#1C1B1B] italic;
}

#bild,
.img-preview {
  @apply h-[217px] w-[174px] lg:h-[70vh] lg:w-[540px];
}

.button {
  @apply rounded-full mb-20 text-center h-10 flex justify-center items-center;
}

.btn-disabled {
  @apply cursor-not-allowed;
  background-color: var(--grey);
  color: var(--background);
}

/* === Dropdown Menu === */
.drop ul {
  @apply absolute z-10 w-full h-screen;
  background-color: var(--background);
}

.drop li {
  @apply active:bg-[#1C1B1B] active:text-white flex items-center border-b last:border-b-0 cursor-pointer hover:font-semibold hover:border-[#1C1B1B] hover:border-3 ease-in-out transition-all duration-100 text-sm lg:text-base;
  font-family: ff-real-headline-pro, sans-serif;
  font-weight: 400;
  background-color: var(--background);
  padding: 1rem;
}

.dropdown-button {
  @apply border-[#1C1B1B] border-2 rounded-none p-4 w-full text-left lg:min-h-[60px] cursor-pointer;
}

.dropdown-button:hover {
  @apply border-4 font-semibold;
  transition: border-width 0.3s ease, border-color 0.3s ease, font-weight 0.3s ease;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* === Misc === */
nextjs-portal {
  display: none;
}

/*.cover-container {
  width: 87px;
  height: 109px;
  overflow: hidden;
  object-fit: cover;
}*/

/* === Checkbox Styles === */
.checkbox-wrapper {
  @apply relative w-6 h-6 cursor-pointer;
}

.checkbox {
  @apply absolute opacity-0 w-0 h-0;
}

.checkmark {
  @apply block w-6 h-6 border-2 border-black active:border-0 relative transition;
}

.checkbox:checked + .checkmark {
  @apply bg-black;
}

/* === Animation === */

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide-in {
  animation: fadeSlideIn 0.8s ease-out;
}

h2{
  @apply text-2xl lg:text-[34px] font-medium;
}